@import './../../styles/fonts/fonts.scss';
@import './../../styles/variables/colors.scss';
.posts{
    font-family: 'Montserrat';
    width: 50%;
    margin: 0 auto 20px;
    text-align: center;
    border: 1px solid $buttonColor;
    padding : 10px 15px;
    // display: block;
    h3{
        font-family: $AnticSlab;
    }
    p{
        font-family: $Assistant;
    }
}