$buttonColor: #584b53;
$borderColor: #b8bdb5;
$buttonBackground: #c9cbc5;
$buttonHover: #b3b4af;
$backgroundColorPrimary: #eff0ed;
$backgroundColorSecondary: #e3e4de;
$whiteColor: #ffffff;
$blackColor: #000000;